body{
    text-align: center;
    margin: 0;
    background-color: #00a8cc;
}
.mount{
    margin: 0;
    height: 50rem;
    width: 112.5rem;
}
.name{
    color: solid black;
    font-size: 3rem;
    position: relative;
    top: 5.625rem;
}
.title{
    font-size: 2rem;
position: relative;
top: 6.25rem;
}
.hr{
    border-style: dotted none none;
    width: 10%;
    height: 0rem;
    border-width: 0.75rem;
}
.pubg{
    height: 18.75rem;
    width: 18.75rem;
}
.fire{
    position: relative;
    bottom: 6.25rem;
    height: 9.375rem;
    width: 6.25rem;
}
.c{ 
height: 100px;
width: 100px;
/*position: relative;
right: 1.25rem;
top: 5rem;*/
}
.c2{
    height: 20rem;
    width: 17rem;
    position: relative;
    right: 2.1875rem;
    top: 5rem;
}
.c3{
    height: 20rem;
    width: 17rem;
    right: 3.125rem;
    position: relative;
    top: 5rem;
}
.c4{
    height: 20rem;
    width: 17rem;
    right: 3.75rem;
    position: relative;
    top: 5rem;
}
.c5{
    position: relative;
    height: 17rem;
    width: 19rem;
    top: 5rem;
    right: 4.375rem;
}
.top-con{
    background-color: skyblue;
}
/*.amazon{
    position: relative;
    left: 36.25rem;
    bottom: 15.625rem;
    padding-bottom: 1.875rem;
    color: darkblue;
    height: 6.25rem;
    width: 37.5rem;
    border: 0.125rem solid darkblue;
    border-radius: 1.875rem;
    font-size: 7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightseagreen;
}*/
